@model BlogProject.Models.Comments
@{
    ViewData["Title"] = "Home Page";
}

<script>
    function showComments(id) {
        $("#" + id).slideToggle(500);
    }

    function cancelComments(postId) {
        $("#comment" + postId).val('');
    }
</script>

<div class="text-center">
    <h1 class="display-4">Welcome @BlogProject.Startup.user.Username!</h1>
</div>

<!-- Section: Blog v.4 -->
<section class="my-5">
    @foreach (Posts post in BlogProject.Startup.allPosts)
    {
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">

                <!-- Card -->
                <div class="card card-cascade wider reverse">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src=@post.Image alt="Sample image">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h2 class="font-weight-bold"><a>@post.Title</a></h2>
                        <!-- Data -->
                        <p>Written by <a><strong>@post.User.Username</strong></a>, @post.CreatedOn.ToShortDateString()</p>
                        <!-- Social shares -->
                        <div class="social-counters">
                            <!-- Likes -->
                            <form>
                                @if (BlogProject.Startup.user.LoggedIn)
                                {
                                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Like", "Posts", new { id = post.Id })'">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-primary" disabled>
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </button>
                                }

                                <span class="counter">@post.LikeCount likes</span>

                                <!-- Comments -->
                                <a id="comments-toggle" href="javascript:showComments(@post.Id)" role="button" aria-haspopup="true" aria-expanded="false">
                                    @post.CommentCount comments <span class="caret"></span>
                                </a>
                            </form>
                            </div>
                        <!-- Social shares -->
                        <!-- Comments -->
                        <div class="container">
                            <div id="@post.Id" class="post-comments" style="display:none;">
                                @if (BlogProject.Startup.user.LoggedIn)
                                {
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group" style="display:none;">
                                            <label asp-for="UserId" class="control-label"></label>
                                            <input asp-for="UserId" class="form-control" value="@BlogProject.Startup.user.Id" />
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            <label asp-for="PostId" class="control-label"></label>
                                            <input asp-for="PostId" class="form-control" value="@post.Id" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Content" class="control-label">Your Comment</label>
                                            <textarea asp-for="Content" class="form-control" rows="3"></textarea>
                                            <span asp-validation-for="Content" class="text-danger"></span>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            <label asp-for="LikeCount" class="control-label"></label>
                                            <input asp-for="LikeCount" class="form-control" />
                                            <span asp-validation-for="LikeCount" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-info btn-rounded m-t-10  modal-link" />
                                        </div>
                                    </form>

                                   
                                }

                                @if (post.CommentCount > 0)
                                {
                                    <div class="row d-flex justify-content-center mt-100 mb-100">
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <h4 class="card-title">Comments</h4>
                                                </div>
                                                <div class="comment-widgets">
                                                    <!-- Comment Row -->
                                                    @foreach (Comments c in post.PostComments)
                                                    {
                                                        <div class="d-flex flex-row comment-row m-t-0">
                                                            <div class="p-2"><i style="font-size:25px;" class="fa fa-user" aria-hidden="true"></i></div>
                                                            <div class="comment-text w-100" style="text-align: initial;">
                                                                <h6 class="font-medium">@post.User.Username</h6>
                                                                <span class="m-b-15 d-block">
                                                                    @c.Content
                                                                </span>
                                                                <div class="comment-footer"> 
                                                                    <span class="text-muted float-right">@c.CreatedOn.ToShortDateString()</span>                                                                  
                                                                </div>
                                                            </div>
                                                        </div> <!-- Comment Row -->
                                                    }

                                                </div> <!-- Card -->
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>No Comments</div>
                                }
                                
                            </div>
                            <!-- post-comments -->
                        </div>
                        <!-- Comments -->
                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->
                <!-- Excerpt -->
                <div class="mt-5">

                    <p>
                        @post.Content
                    </p>

                </div>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

        <hr class="mb-5 mt-4">
    }

</section>
<!-- Section: Blog v.4 -->
